<%
  var settings = require("ep_etherpad-lite/node/utils/Settings");
%>
<!doctype html>
<html>

        <title><%=settings.title%></title>
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
        
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">
        <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="static/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <link rel="localizations" type="application/l10n+json" href="locales.json">
        <script type="text/javascript" src="static/js/vendors/html10n.js?v=<%=settings.randomVersionString%>"></script>
        <script type="text/javascript" src="static/js/l10n.js?v=<%=settings.randomVersionString%>"></script>
        <script src="static/js/vendors/jquery.js"></script>
        <script src="static/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="static/js/index.js"></script>

        <% e.begin_block("indexCustomStyles"); %>
        <link href="static/skins/<%=encodeURI(settings.skinName)%>/index.css?v=<%=settings.randomVersionString%>" rel="stylesheet">
        <% e.end_block(); %>

        <div class="order-1">
          <div class="">
            <div class="d-lg-none">
              <div id="static-footer" class="footer fixed-bottom bg-gradient bg-gradient-primary">
                <div class="row">
                  <div class="d-flex align-items-center">
                    <div class="col-1 col-sm-2">
                      <img id="static-footer-logo" src="./static/img/etherpad-logo.svg" class="img-fluid d-block" width="100%" alt="Etherpad Logo" />
                    </div>
                    <div class="col-11 col-sm-10 d-flex justify-content-end">
                      <a href="https://github.com/kitsteam/etherpad-lite/" class="text-white px-lg-2 p-2 text-decoration-none">GitHub</a>
                      <a href="https://kits.blog/impressum/" class="text-white px-lg-2 p-2 text-decoration-none">Impressum</a>
                      <a href="https://kits.blog/datenschutzerklaerung/" class="text-white p-2 text-decoration-none">Datenschutz</a>
                    </div>                
                  </div>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block">
    
              <!-- Left Block -->
              <div id="left-column" class="order float-start position-fixed vh-100 bg-gradient bg-gradient-primary w-50 d-flex flex-column align-items-center justify-content-between">
                  <div></div>
                  <div>
                    <img src="./static/img/etherpad-logo.svg" class="img-fluid d-block" alt="Etherpad Logo" />
                  </div>
                  <div id="footer-links" class="d-flex align-items-center mb-1">
                    <a href="https://github.com/kitsteam/etherpad-lite/" class="text-white px-lg-2 p-2 text-decoration-none">GitHub</a>
                    <a href="https://kits.blog/impressum/" class="text-white px-lg-2 p-2 text-decoration-none">Impressum</a>
                    <a href="https://kits.blog/datenschutzerklaerung/" class="text-white p-2 text-decoration-none">Datenschutz</a>
                  </div>
                </div>
              <!-- End Left Block -->
            </div>
          </div>
    
          <!-- Right Block -->
          <div class="w-50 float-end d-flex flex-column align-items-stretch justify-content-between vh-100">
            <div class="g-0 d-flex justify-content-end px-3">
                <div class="pt-3">
                  <a href="https://kits.blog/tools/"><img src="./static/img/kits-logo.svg" class="img-fluid d-block" alt="Kits Logo"/></a>
                </div>
              </div>
              <div class="row g-0 h-100">
                <div id="content" class="container w-90 d-flex align-content-center flex-wrap">
                  <div id="call-to-action-block">
                    <h1 class="fw-bold">
                      <a class="text-decoration-none" href="/" title="Etherpad">Etherpad</a>
                    </h1>
    
                    <ul class="list-group list-unstyled mb-3">
                      <li class="list-group-item pb-2">Verfasse gemeinsam mit anderen Texte!</li>
                      <li class="list-group-item pb-2">Gestalte deine Texte!</li>
                      <li class="list-group-item pb-2">Füge Bilder hinzu!</li>
                    </ul>
                    <button id="button" class="btn btn-primary px-4 py-2" type="button">Pad erstellen</button>                  
                    <p class="form-text text-muted mt-3">
                      Dieses Tool darf nur in Bildungskontexten genutzt werden. Die Eingabe personenbezogener Daten ist
                      nicht gestattet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
             <!-- End Right Block -->
          </div>
        </div>
        <!--[if IE
          ]><div
            class="w-100 text-center bg-dark text-white pt-3 px-4 pb-1 position-fixed"
            style="z-index: 1000; bottom: 0">
            <p onClick="parentNode.remove()">
              Please use a modern browser for a better browsing experience. <span class="float-right">X</span>
            </p>
          </div><!
        [endif]-->

        <% e.begin_block("indexCustomScripts"); %>
        <script src="static/skins/<%=encodeURI(settings.skinName)%>/index.js?v=<%=settings.randomVersionString%>"></script>
        <% e.end_block(); %>
        <div style="display:none"><a href="/javascript" data-jslicense="1">JavaScript license information</a></div>
</html>
